<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      require("electron").ipcRenderer.on("reload", (event, message) => {
        refresh();
      });
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Item | Ledger</title>

    <link rel="stylesheet" href="./style.css" />

    <!-- Custom fonts for this template -->
    <link
      href="../../vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="../../css/sb-admin-2.min.css" rel="stylesheet" />

    <!-- Custom styles for this page -->
    <link
      href="../../vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
    <script src="../../../main.js"></script>

    <script>
      var page = "item";
      window.$ =
        window.jQuery = require("../../../node_modules/jquery/dist/jquery.min.js");
    </script>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow"
          >
            <a
              class="navbar-brand"
              href="javascript:;"
              onclick="dashboard(page);"
              style="color: white !important"
              >Dashboard</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a
                    style="color: white !important"
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Main
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     
                     
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="bank(page);"
                      >Bank List</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="city(page);"
                      >City List</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="item_cat(page);"
                      >Item Category</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="item(page);"
                      >Item List</a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="party(page);"
                      >Party List</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="party_rate(page);"
                      >Party Rate List</a
                    >
                     
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    style="color: white !important"
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Transaction
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="purchase(page);"
                      >Sale</a
                    >
                     
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="payment(page);"
                      >Payment</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="receipt(page);"
                      >Receipt</a
                    >
                  </div>
                </li>
                <li class="nav-item">
                  <a
                    style="color: white !important"
                    class="nav-link"
                    href="javascript:;"
                    onclick="report(page);"
                    >Reports</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    style="color: white !important"
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Settings
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="add_user(page);"
                      >Add User</a
                    >
                    <a
                      class="dropdown-item"
                      href="javascript:;"
                      onclick="update_user(page);"
                      >Update User</a
                    >
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a
                  style="color: white !important"
                  class="nav-link disabled"
                  href="#"
                  >ITEMS</a
                >
              </form>
            </div>
          </nav>
          <!-- End of Topbar -->

          <!-- ================================================================================================== -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="my-table"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>Category</th>
                        <th>AC Group</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <input
                            style="width: 100%"
                            type="text"
                            id="item_name"
                            placeholder="Enter Item's title"
                          />
                        </td>
                        <td>
                          <select style="width: 100%" id="id_item_cat"></select>
                        </td>
                        <td>
                          <select style="width: 100%" id="id_ac"></select>
                        </td>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>Category</th>
                        <th>AC Group</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <!-- Being filled by JQuery -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                  <button
                    class="btn btn-primary btn-user btn-block"
                    onclick="add_button()"
                  >
                    Add
                  </button>
                </div>
                <div class="col-lg-3">
                  <button
                    data-toggle="modal"
                    data-target="#editModal"
                    class="btn btn-dark btn-user btn-block"
                  >
                    Edit
                  </button>
                </div>
                <div class="col-lg-3"></div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- ================================================================================================== -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Muhammad Shariq 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a
              class="btn btn-primary"
              href="javascript:;"
              onclick="login(page);"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Add Modal-->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Added Successfully
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Your Response Has been added successfully.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Error Modal-->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Empty Fields</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Fill in all the fields.</div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal-->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="id_item">Select The Item</label>
              <select
                class="form-control"
                id="id_item"
                onclick="edit_display_item(this.value)"
              ></select>

              <div class="form-group">
                <label for="name_item">Enter The Item Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name_item"
                  placeholder="Enter the Item name"
                />
              </div>

              <label for="ac_id">Select The AC Group</label>
              <select class="form-control" id="ac_id"></select>

              <label for="item_cat_id">Select The Category</label>
              <select class="form-control" id="item_cat_id"></select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button class="btn btn-primary" onclick="edit_button()">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../js/demo/datatables-demo.js"></script>

    <script src="view-main.js"></script>

    <script>
      function refresh() {
        show_add_item();
        show_edit_item();
        show_item_table();
      }
      show_item_table();
      show_add_item();
      show_edit_item();

      function add_button() {
        var name = document.getElementById("item_name").value;
        var item_cat = $("#id_item_cat").val();
        var ac = $("#id_ac").val();
        if (name != "") {
          console.log("aa");
          add_item(name, item_cat, ac);
          show_item_table();
          show_add_item();
          show_edit_item();

          document.getElementById("item_name").value = "";
        }
      }
      function edit_button() {
        var name = document.getElementById("name_item").value;
        var item_cat = $("#item_cat_id").val();
        var ac = $("#ac_id").val();
        var id = $("#id_item").val();

        if (name != "" && id != "") {
          console.log(name, id);
          edit_item(id, name, item_cat, ac);
          show_add_item();
          show_item_table();
          show_edit_item();

          $("#editModal").modal("hide");
        } else {
          $("#editModal").modal("hide");
          $("#errorModal").modal("show");
        }
      }

      document.getElementById("item_name").focus();

      var wage = document.getElementById("id_ac");
      wage.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {
          add_button();
        }
      });

      var wage = document.getElementById("id_item_cat");
      wage.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {
          document.getElementById("id_ac").focus();
        }
      });

      var wage = document.getElementById("item_name");
      wage.addEventListener("keydown", function (e) {
        if (e.code === "Enter") {
          document.getElementById("id_item_cat").focus();
        }
      });
    </script>
  </body>
</html>
